<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.renesas.cdt.launch.debug.launchConfigurationType">
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Release\GNURX_YRDKRX63N.x"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="GNURX_YRDKRX63N"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="%com.renesas.cdt.rx.hardwaredebug.win32.configuration.Id.167858762"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GNURX_YRDKRX63N"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
